@model WorkCalendarWebApp.ViewModel.TopicsAndSubtopics;

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit Topic</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="@Model.Topic.Id" />
            <div class="form-group">
                <label asp-for="@Model.Topic.TopicName" class="control-label"></label>
                <input asp-for="@Model.Topic.TopicName" class="form-control" />
                <span asp-validation-for="@Model.Topic.TopicName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Topic.AdditionalInfo" class="control-label"></label>
                <input asp-for="@Model.Topic.AdditionalInfo" class="form-control" />
                <span asp-validation-for="@Model.Topic.AdditionalInfo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

<p></p>
<h2>Subtopics</h2>
@if (Model.Subtopics.Count == 0)
{
    <p>There are not any subtopics for this topic.</p>
}
else
{
    var oneSubtopicForName = Model.Subtopics.First();

    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => oneSubtopicForName.SubtopicName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => oneSubtopicForName.AdditionalInfo)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var subtopic in Model.Subtopics)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => subtopic.SubtopicName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => subtopic.AdditionalInfo)
                    </td>
                    <td>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
